@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

:root {
    --cor-background: #FFFFFF;
    --cor-primaria: #67BB67;
    --cor-destaque: #3A606E;
    --cor-destaque1: #5E4C5A;
    --fonte-tamanho-h1: 2.4em;
    --fonte-tamanho-h2: 2em;
    --fonte-tamanho-h3: 1.6em;
    --fonte-tamanho-h4: 1.3em;
    --fonte-tamanho-p: 1em;
    --fonte-tamanho-pg: 1.1em;
    --fonte-tamanho-g: 1.2em;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--cor-background);
    color: black;
    overflow-x: hidden;
}

h1 {
    color: var(--cor-destaque);
    font-size: var(--fonte-tamanho-h1);
}
h2 {
    font-size: var(--fonte-tamanho-h2);
    color: var(--cor-primaria);
}

h3 {
    font-size: var(--fonte-tamanho-h3);
    color: var(--cor-primaria);
}

h4 {
    font-size: var(--fonte-tamanho-h4);
    color: var(--cor-destaque);
}

p {
    font-size: var(--fonte-tamanho-p);
    text-align: justify;
}

span {
    font-weight: 300;
}
/*Header*/ 
header {
    background-color: var(--cor-primaria);
}

.container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: none;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    box-sizing: border-box;
    align-items: center;
    margin-right: 10%;
    padding: 1rem;
    
}

#home {
    margin-top: 4vh;
    width: 100%;
}

#home div *{
    padding: 0;
    margin: 0;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
li {
    list-style: none;
}

a img {
    width: 8vw;
    height: 8vh;
}


/* Tec */
#tec {
    display: flex;
    width: 100%;
}
.conteudo-tec{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conteudo-tec ul {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4vw;
}

/* Experiencia */
#experiencia {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 0;
}

#experiencia h2 {
    margin-bottom: 0;
}

#experiencia ul{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}

.itens_experiencia {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
}

.primeiro_item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.primeiro_item ul {
    margin-top: 0;
}

.primeiro_item h3 {
    padding: 0;
    margin-bottom: 0;
}

.primeiro_item h4 {
    padding: 0;
    margin-bottom: .5vh;
}

.primeiro_item ul li p{
    margin-bottom: 0;
    padding-bottom: 0;
}

.primeiro_item ul li > div ul {
    padding-left: 0;
    margin-left: 0;
}

.primeiro_item div ul li {
    list-style: circle;
}

#formacao {
    width: 100%;
}
#formacao p{
    font-size: calc(.3em + 1vw);
}

.itens_formacao {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 5vh;
}

.itens_formacao h4{
    margin-bottom: 0;
    margin-top: 2vh;
}
#contato {
    display: flex;
    width: 100%;
    justify-content: center;
}

.lista_contato ul{
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    gap: 5vw;
}

.lista_contato img {
    width: 3vw;
    height: 3vh;
}

/* Footer */
#footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: var(--cor-primaria);
}

#footer p {
    font-size: calc(.6em + .6vw);
    margin: 1px;
}


@media (min-width: 768px)  {
    p {
        font-size: var(--fonte-tamanho-pg);
    } 
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        background-color: var(--cor-primaria);
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens horizontalmente */
        justify-content: space-evenly;
        box-sizing: border-box;
        padding: 2rem 0;
    }
    
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        position: relative;
        height: 100%;
    }
    
    .sidebar ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .sidebar li {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
        
    }
    
    .sidebar li a {
        display: block;
        text-align: center; 
        padding:1rem 0; 
        text-decoration: none;
        color: white;
        width: 100%;
        font-size: calc(.1em + 1vw);
    }

    .sidebar li a:hover {
        color:var(--cor-destaque);
    }
    
    .foto-perfil {
        width: 14vw;
        height: 14vw; /* Mantém a proporção da imagem */
        border-radius: 50%; 
        margin-bottom: 1rem; /* Espaçamento abaixo da imagem */
        padding: 0;
        object-fit: cover;
        max-width: 150px;
        max-height: 150px;
    }

    
    .conteudo {
        flex: 1;
        margin-left: 20%;
        box-sizing: border-box;
        align-items: center;
        padding: 1rem;
    }

    
    a img {
        width: 6vw;
        height: 6vh;
    }
}
    


@media (min-width : 1024px) {
    p {
        font-size: var(--fonte-tamanho-g);
    } 
    

    a img {
        width: 5vw;
        height: 5vh;
    }
}


@media (max-width: 768px) and (min-height: 320px) and (orientation: landscape) {
    .menu {
        display: none;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-left: 10%;
        box-sizing: border-box;
        align-items: center;
        margin-right: 10%;
        padding: 1rem;
        
    }
}
