@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
    color: tomato;
}

body {
    margin: 0px;
    background-color: whitesmoke;
    /* background-color: floralwhite; */
    color: black;
}

h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
}

/*Header*/ 
header {
    position: fixed;
    box-sizing: border-box;
    top: 10rem;
    right: 0;
    height: 100%;
}

header .icone {
    position: fixed;
    top: 0;
    left: 90dvw;
}

header .icone img {
    height: 4rem;
    width: 3rem;
}

header .menu ul {
    list-style: none;
}

header .menu li {
    margin-top: 2rem;
    margin-right: 1.2rem;
}

header .menu li a {
    color: tomato;
}

header .menu_button {
    border: 2px solid tomato;
    width: 7rem;
    padding: 4px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.menu_button a {
    font-size: 1rem;
}

.sessoes {
    margin-left: 18dvw;
}

/* Home */
#home div {
    display: flex;
    flex-grow: 2rem;
}

#home .img_main {
    display: inline;
}
#home .myNameText {
    font-size: 4rem;
}

#home .myNameText, #home .myJobText {
    display: inline;
    margin: 1rem;
}
/*About*/
#about .about_me {
    display: inline-block;
    width: 25rem;
    height: 10rem;
}

.about .tec ul, 
.tec li, 
.lista_contato ul, 
.lista_contato li{
    display: flex;
    margin-right: 1.5rem;
    margin-bottom: .8rem;
    list-style: none;
    font-family: monospace;
    font-weight: bold;
}

li a {
    font-size: 1.3rem;
}

.tec a:hover {
    margin-left: 2px;
}

.img_main {
    display: block;
    margin-top: 28px;
}


a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: black;
}

.tec{
    /* display: inline-block;
    text-align: center; */
    display: grid;
    grid-template-columns: 23dvw 23dvw;
}

.tec div {
    text-align: center;
}
.tec ul {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    margin-left: 0.6rem;
}

.tec h3  {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

li img {
    width: 2.5rem;
    height: 2.5rem;
}


/* Experiencia */
#experiencia div {
    width: 60dvw;
}

#experiencia ul {
    border-right: solid 1px black;
}

#experiencia li {
    margin-bottom: 6dvh;
    list-style: none;
    text-align: justify;
    padding-right: 16px;
}

#experiecia h3 {
    margin-bottom: 0;
}

/* Footer */
footer {
    display: block;
    text-align: center;
    color: white;
}