@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

:root {
    --cor-background: #E7ECEF;
    --cor-primaria: #ff6347;
    --cor-destaque: #274C77;
    --fonte-tamanho-h2: 2.2em;
    --fonte-tamanho-h3: 1.2em;
    --fonte-tamanho-p: 1.2em;
}

body {
    margin: 0;
    background-color: var(--cor-background);
    color: black;
}
h1 {
    color: var(--cor-destaque);
}
h2 {
    font-size: var(--fonte-tamanho-h2);
    color: var(--cor-primaria);
}

h3 {
    font-size: var(--fonte-tamanho-h3);
    color: var(--cor-primaria);
}

p {
    font-size: var(--fonte-tamanho-p);
}

/*Header*/ 
header {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: flex-end;
    height: 10dvh;
    width: 100%;
}

.menu ul { 
    position: sticky;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    margin-left: 45px;
}

.menu li a:hover {
    color:var(--cor-background);

}

.icone  {
    position: absolute;
    top: 0;
    left: 0;
    padding: .50em;
    margin-left: 1.2em;
}

.icone img {
    width: 45px;
    height: 45px;
}

.container-menu-button {
    display: flex;
    justify-content: center;
}

.menu-button {
    background-color: tomato; 
    border: none; 
    color: black;
    font-weight: bold;
    padding: 20px 35px 20px 35px; 
    text-align: center; 
    display: inline-block; 
    font-size: 12px; 
    margin-top: 0;
    margin: 5px; 
    border-radius: 5px; 
    cursor: pointer;
    transition-duration: 1.0s; 
}

.menu-button:hover {
    border: border 5px #274C77;
    transform: scale(1.2); 
    transition-duration: 0.5s;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40%;  
    margin-left: 30%;
    margin-right: 30%; 
}

/* .content {
   
} */

/* Home */
#home div {
    display: flex;
    flex-grow: 1em;    
}

.home-myNameText {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.myNameText {
    margin-top: .35em;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 5em;
}

#home h2 {
    font-size: 28px;
    margin-top: 2px;
}
/*About*/
#about .about-me {
    display: inline-block;
    width: 85%;
    height: 10em;
}
.about-me-content {
    display: flex;
    text-align: justify;
}

.img_main {
    margin-right: 2.5em;
}

/* .img_main img {
    width: 174px;
    height: 275px;
} */

@media ( max-width: 1440px )  {
    .lista_contato a img {
        width: 1.2em;
        height: 1.2em;
    }
    .about .tec ul, 
    .tec li, 
    .lista_contato ul, 
    .lista_contato li {
        display: flex;
        margin-right: 1.5em;
        list-style: none;
        font-family: monospace;
        font-weight: bold;
    }
} 

li a {
    font-size: 1.3em;
}

/* .tec a:hover {
    margin-left: 2px;
} */

.img_main {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

a {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: black;
}

.tec{
    /* display: inline-block;
    text-align: center; */
    display: grid;
    grid-template-columns: 23dvw 23dvw;
}

.tec div {
    text-align: center;
}

.tec a:hover {
    transform: rotateX(3deg);
}
.tec ul {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    margin-left: 0.6em;
}
.tec h3 {
    text-align: center;
}
li img {
    width: 2.1em;
    height: 2.1em;
}


/* Experiencia */
#experiencia div {
    width: 60dvw;
}

#experiencia ul {
    border-right: solid 1px black;
}

#experiencia li {
    margin-bottom: 6dvh;
    list-style: none;
    text-align: justify;
    padding-right: 16px;
}

#experiecia h3 {
    margin-bottom: 0;
}

#experiencia span {
    font-weight: 300;
}

#contato .lista_contato{
    display: flex;
    justify-content: center;
}
/* Footer */
#footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: var(--cor-primaria);
}

#footer p {
    margin: 5px 0;
}